---
layout: default
pagination:
  enabled: true
---

<!-- START OF index.html -->
{% for post in paginator.posts %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}

{% unless year == this_year %}
  {% assign year = this_year %}
	<div class="cat-year">{{ year }}</div>
{% endunless %}

{% unless month == this_month %}
  {% assign month = this_month %}
	<div class="cat-month">{{ month }}</div>
{% endunless %}

{% include archive_post.html %}
{% endfor %}
<div class="paginator">
{% if paginator.total_pages > 1 %}
<ul class="paginator__pagination-items">
  {% if paginator.next_page %}
  <li class="paginator__pagination-item paginator__pagination-item--older">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&larr; Older posts</a>
  </li>
  {% endif %}

  {% if paginator.previous_page %}
  <li class="paginator__pagination-item paginator__pagination-item--newer">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</div>
<!-- END OF index.html -->
